In [1]:
## load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
## load data
##pollution_data = pd.read_csv("owid-co2-data.csv")
##pollution_data.head()

In [3]:
## only keep data from English-speaking Western countries
##pollution_data = pollution_data[(pollution_data['country'] == 'United States') | (pollution_data['country'] == 'Canada') | (pollution_data['country'] == 'United Kingdom') | (pollution_data['country'] == 'Australia')]
##pollution_data.head()

In [4]:
## remove columns that contain mostly NaN values
##pollution_data = pollution_data[["iso_code", "country", "year", "co2", "population", "gdp"]]
##pollution_data.head()

In [5]:
## load data
ghg_data = pd.read_csv("ghgp_data_by_year.csv")
ghg_data.head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,This data was reported to EPA by facilities as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All emissions data is presented in units of me...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
3,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
4,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"

In [6]:
## Get rid of first two rows because they are just an explanation
ghg_data = ghg_data.dropna()
ghg_data.head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
2,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
3,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
4,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
5,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
6,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"

In [7]:
ghg_data = ghg_data.drop([2],axis=0)
ghg_data.head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
3,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
4,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
5,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
6,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"
7,1000005,110000482022,Ardagh Glass Inc. (Madera),MADERA,CA,93637,24441 AVENUE 12 & ROAD 24 1/2,MADERA COUNTY,36.92,-120.10,...,"C,N",Minerals,"83,863.02","82,451.32","79,708.58","81,133.62","74,754.14","78,249.77","82,149.61","75,969.47"

In [8]:
## Reset index
ghg_data = ghg_data.reset_index(drop=True)
ghg_data.head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
1,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
2,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
3,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"
4,1000005,110000482022,Ardagh Glass Inc. (Madera),MADERA,CA,93637,24441 AVENUE 12 & ROAD 24 1/2,MADERA COUNTY,36.92,-120.10,...,"C,N",Minerals,"83,863.02","82,451.32","79,708.58","81,133.62","74,754.14","78,249.77","82,149.61","75,969.47"

In [9]:
## Rename the columns
ghg_data.rename(columns={'Summary data collected by the Greenhouse Gas Reporting Program':'facility_id',
                          'Unnamed: 1':'frs_id',
                          'Unnamed: 2':'facility_name',
                            'Unnamed: 3': 'city',
                            'Unnamed: 4':'state',
                            'Unnamed: 5': 'zip_code',
                            'Unnamed: 6': 'address',
                            'Unnamed: 7':'county',
                            'Unnamed: 8': 'latitude',
                            'Unnamed: 9': 'longitude',
                            'Unnamed: 10':'naics_code',
                            'Unnamed: 11':'industy_subparts',
                            'Unnamed: 12':'industry_sector',
                            'Unnamed: 13':'2018',
                            'Unnamed: 14':'2017',
                            'Unnamed: 15':'2016',
                            'Unnamed: 16':'2015',
                            'Unnamed: 17':'2014',
                            'Unnamed: 18':'2013',
                            'Unnamed: 19':'2012',
                            'Unnamed: 20':'2011'},
                 inplace=True)
ghg_data.head()

,facility_id,frs_id,facility_name,city,state,zip_code,address,county,latitude,longitude,...,industy_subparts,industry_sector,2018,2017,2016,2015,2014,2013,2012,2011
0,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
1,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
2,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
3,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"
4,1000005,110000482022,Ardagh Glass Inc. (Madera),MADERA,CA,93637,24441 AVENUE 12 & ROAD 24 1/2,MADERA COUNTY,36.92,-120.10,...,"C,N",Minerals,"83,863.02","82,451.32","79,708.58","81,133.62","74,754.14","78,249.77","82,149.61","75,969.47"

In [10]:
## Sort the data by state
ghg_state = ghg_data.sort_values(by = ['state'])
ghg_state.head()

,facility_id,frs_id,facility_name,city,state,zip_code,address,county,latitude,longitude,...,industy_subparts,industry_sector,2018,2017,2016,2015,2014,2013,2012,2011
2916,1004719,110041255012,CHENA POWER PLANT,FAIRBANKS,AK,99701,1206 1ST AVE,FAIRBANKS NORTH STAR BOROUGH,64.85,-147.73,...,C,Power Plants,"321,500.94","314,164.74","334,019.09","331,719.04","328,081.70","321,806.70","328,261.76","350,029.07"
3097,1005004,110007919501,Tesoro Alaska Company LLC - KLNG,Kenai,AK,99611,48237 Kenai Spur Highway,KENAI PENINSULA BOROUGH,60.68,-151.39,...,"C,W-LNGIE",Petroleum and Natural Gas Systems,"4,484.28","16,845.34","12,243.00","186,840.27","175,911.99","53,833.30","229,404.07","294,567.91"
3270,1005349,110044228289,CENTRAL PENINSULA BALING FACILITY-SOLDOTNA LF,SOLDOTNA,AK,99669,98.5 STERLING HWY.,KENAI PENINSULA BOROUGH,60.44,-151.11,...,"C,HH",Waste,"53,028.59","52,632.45","50,910.30","55,202.80","55,063.94","52,830.50","51,725.00","51,369.30"
2245,1003492,110021331664,HANK NIKKELS PLANT ONE,ANCHORAGE,AK,99501,821 EAST FIRST AVENUE,ANCHORAGE MUNICIPALITY,61.22,-149.87,...,C,Power Plants,"21,076.32","34,704.32","28,806.64","30,495.84","22,905.82","19,097.93","36,153.42","58,152.23"
4770,1007874,110064626846,NIKISKI CO-GENERATION,NIKISKI,AK,99635,48169 KENAI SPUR HIGHWAY,KENAI PENINSULA BOROUGH,60.68,-151.38,...,C,Power Plants,"192,573.12","218,051.03","189,446.24","198,337.00","171,829.05","143,244.66","163,901.88","190,496.73"

In [11]:
## Find the number of unique states
state_unique_values = ghg_data["state"].unique()
state_unique_values

array(['WA', 'IN', 'NC', 'IL', 'CA', 'MA', 'NM', 'FL', 'MO', 'NE', 'PA',
       'LA', 'TX', 'OK', 'AZ', 'OH', 'IA', 'WI', 'ME', 'SD', 'WY', 'CO',
       'NV', 'CT', 'NY', 'GA', 'TN', 'DE', 'NJ', 'UT', 'MN', 'ID', 'MS',
       'MT', 'AL', 'SC', 'NH', 'MI', 'VA', 'AR', 'KS', 'RI', 'HI', 'ND',
       'WV', 'KY', 'MD', 'OR', 'AK', 'DC', 'VT', 'PR', 'VI', 'GU'],
      dtype=object)

In [12]:
## Subset the state data to only contain the state and years
ghg_state_mean = ghg_state[["state", "2018","2017","2016","2015","2014","2013","2012","2011"]]
ghg_state_mean.head()

,state,2018,2017,2016,2015,2014,2013,2012,2011
2916,AK,"321,500.94","314,164.74","334,019.09","331,719.04","328,081.70","321,806.70","328,261.76","350,029.07"
3097,AK,"4,484.28","16,845.34","12,243.00","186,840.27","175,911.99","53,833.30","229,404.07","294,567.91"
3270,AK,"53,028.59","52,632.45","50,910.30","55,202.80","55,063.94","52,830.50","51,725.00","51,369.30"
2245,AK,"21,076.32","34,704.32","28,806.64","30,495.84","22,905.82","19,097.93","36,153.42","58,152.23"
4770,AK,"192,573.12","218,051.03","189,446.24","198,337.00","171,829.05","143,244.66","163,901.88","190,496.73"

In [13]:
## Find the range of the dataset
ghg_state_mean.describe()

       state  2018  2017  2016  2015  2014  2013  2012  2011
count   5183  5183  5183  5183  5183  5183  5183  5183  5183
unique    54  5168  5168  5172  5175  5176  5172  5173  5171
top       TX  0.00  0.00  0.00  0.00  0.00  0.00  0.00  0.00
freq     514    15    15     7     6     8    10     9    11

In [26]:
## Change the type of the year columns to floats in order to calcualte the mean (they are originally strings)
ghg_state_mean_copy = ghg_state_mean.copy()
for col in ghg_state_mean:
    for row in range(5013):
        ghg_state_mean_copy[col].loc[row] = ghg_state_mean_copy[col].loc[row].replace(",","")
ghg_state_mean_copy.head()

,state,2018,2017,2016,2015,2014,2013,2012,2011
2916,AK,321500.94,314164.74,334019.09,331719.04,328081.70,321806.70,328261.76,350029.07
3097,AK,4484.28,16845.34,12243.00,186840.27,175911.99,53833.30,229404.07,294567.91
3270,AK,53028.59,52632.45,50910.30,55202.80,55063.94,52830.50,51725.00,51369.30
2245,AK,21076.32,34704.32,28806.64,30495.84,22905.82,19097.93,36153.42,58152.23
4770,AK,192573.12,218051.03,189446.24,198337.00,171829.05,143244.66,163901.88,190496.73

In [34]:
len(ghg_state_mean_copy['2018'])

5183

In [33]:
ghg_state_mean_copy['2018'].loc[7190]

KeyError: 7190

In [27]:
ghg_state_mean_copy = ghg_state_mean_copy.astype({"2018": 'float64', "2017": 'float64', "2016":'float64', "2015": 'float64', "2014": 'float64', "2013": 'float64', "2012": 'float64', "2011": 'float64'})
ghg_state_mean.head()

ValueError: could not convert string to float: '49,749.93'

In [ ]:
## Find the mean emissions for each state for each year
ghg_state_mean = ghg_state_mean.groupby(by = 'state')["2018","2017","2016","2015","2014","2013","2012","2011"].mean()
ghg_state_mean.head()

In [ ]:
## Plot of emissions in 2018 by state
##plt.plot(ghg_state_mean["state"], ghg_state_mean["2018"])
##plt.show()

In [ ]:
## Plot of emissions in 2011 by state
##plt.plot(ghg_state_mean["state"], ghg_state_mean["2011"])
##plt.show()

In [ ]:
## Group the data by industry sector
##ghg_sector = ghg_data.groupby(by='industry_sector')
##ghg_sector_mean = ghg_sector['2011', '2012', '2013', '2014,' '2015', '2016', '2017', '2018'].mean()
##ghg_sector.head()

In [ ]:
## Plot of emissions by sector in 2018
##plt.plot(ghg_sector_mean["industry_sector"], ghg_sector_mean["2018"])
##plt.show()

In [ ]:
## Plot of emissions by sector in 2011
##plt.plot(ghg_sector_mean["industry_sector"], ghg_sector_mean["2011"])
##plt.show()

In [16]:
## How do we plot each state's emission trends over the years?
#ghg_data.melt(ghg_data, id_vars=['2011'], value_vars=['2018'])

TypeError: melt() got multiple values for argument 'id_vars'

In [15]:
## Load class survey data
class_data = pd.read_csv("global_climate_change_class_survey_responses.csv")
class_data.head()

,Timestamp,3. What academic year did you enroll in COMM 168?,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,4. What is/was your major?,5. When did you graduate from SJSU?,Spring 2008,...,Used a bicycle instead of a car as transportation method,The course didn’t have an influence on my transportation methods,"19. As a result of my participation in this course, I purchase carbon offsets when I fly?",All the time,Often2,Sometimes3,Occasionally4,Never,The course had no influence on my purchase of carbon offsets,Unnamed: 78
0,11/25/15 13:43,2007-2008,1.0,0.0,0.0,0.0,0.0,Economics,Fall 2010,0.0,...,1.0,0.0,Never,0.0,0.0,0.0,0.0,1.0,0.0,NaN
1,11/25/15 13:48,2010-2011,0.0,0.0,0.0,1.0,0.0,Business,After Fall 2012,0.0,...,0.0,1.0,The course had no influence on my purchase of ...,0.0,0.0,0.0,0.0,0.0,1.0,NaN
2,11/25/15 13:54,2011-2012,0.0,0.0,0.0,0.0,1.0,Environmental Studies/ green building and ener...,After Fall 2012,0.0,...,1.0,0.0,The course had no influence on my purchase of ...,0.0,0.0,0.0,0.0,0.0,1.0,NaN
3,11/25/15 14:09,2010-2011,0.0,0.0,0.0,1.0,0.0,Environmental Science,Fall 2011,0.0,...,0.0,0.0,The course had no influence on my purchase of ...,0.0,0.0,0.0,0.0,0.0,1.0,NaN
4,11/25/15 14:10,2008-2009,0.0,1.0,0.0,0.0,0.0,Finance,Fall 2010,0.0,...,0.0,0.0,Never,0.0,0.0,0.0,0.0,1.0,0.0,NaN