In [1]:
## load libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from scipy import stats

In [2]:
## load data
pollution_data = pd.read_csv("owid-co2-data.csv")
pollution_data.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
0,AFG,Afghanistan,1949,0.015,NaN,NaN,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7663783.0,NaN
1,AFG,Afghanistan,1950,0.084,475.000,0.070,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7752000.0,1.949480e+10
2,AFG,Afghanistan,1951,0.092,8.696,0.007,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7840000.0,2.006385e+10
3,AFG,Afghanistan,1952,0.092,0.000,0.000,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7936000.0,2.074235e+10
4,AFG,Afghanistan,1953,0.106,16.000,0.015,NaN,NaN,NaN,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8040000.0,2.201546e+10

In [3]:
## only keep data from English-speaking Western countries
pollution_data = pollution_data[(pollution_data['country'] == 'United States') | (pollution_data['country'] == 'Canada') | (pollution_data['country'] == 'United Kingdom') | (pollution_data['country'] == 'Australia')]
pollution_data.head()

,iso_code,country,year,co2,co2_growth_prct,co2_growth_abs,consumption_co2,trade_co2,trade_co2_share,co2_per_capita,...,ghg_per_capita,methane,methane_per_capita,nitrous_oxide,nitrous_oxide_per_capita,primary_energy_consumption,energy_per_capita,energy_per_gdp,population,gdp
1593,AUS,Australia,1851,-0.062,NaN,NaN,NaN,NaN,NaN,-0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,786732.0,1.955064e+09
1594,AUS,Australia,1852,-0.055,-11.765,0.007,NaN,NaN,NaN,-0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,831228.0,2.559550e+09
1595,AUS,Australia,1853,-0.110,100.000,-0.055,NaN,NaN,NaN,-0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,877298.0,3.137865e+09
1596,AUS,Australia,1854,-0.128,16.667,-0.018,NaN,NaN,NaN,-0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,926037.0,3.066359e+09
1597,AUS,Australia,1855,-0.132,2.857,-0.004,NaN,NaN,NaN,-0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,977302.0,3.224240e+09

In [4]:
## remove columns that contain mostly NaN values
pollution_data = pollution_data[["iso_code", "country", "year", "co2", "population", "gdp"]]
pollution_data.head()

     iso_code    country  year    co2  population           gdp
1593      AUS  Australia  1851 -0.062    786732.0  1.955064e+09
1594      AUS  Australia  1852 -0.055    831228.0  2.559550e+09
1595      AUS  Australia  1853 -0.110    877298.0  3.137865e+09
1596      AUS  Australia  1854 -0.128    926037.0  3.066359e+09
1597      AUS  Australia  1855 -0.132    977302.0  3.224240e+09

In [5]:
## load data
ghg_data = pd.read_csv("ghgp_data_by_year.csv")
ghg_data.head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,This data was reported to EPA by facilities as...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,All emissions data is presented in units of me...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
3,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
4,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"

In [6]:
## Get rid of first two rows because they are just an explanation
ghg_data = ghg_data.dropna()
ghg_data.head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
2,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
3,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
4,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
5,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
6,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"

In [7]:
ghg_data.drop([2],axis=0).head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
3,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
4,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
5,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
6,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"
7,1000005,110000482022,Ardagh Glass Inc. (Madera),MADERA,CA,93637,24441 AVENUE 12 & ROAD 24 1/2,MADERA COUNTY,36.92,-120.10,...,"C,N",Minerals,"83,863.02","82,451.32","79,708.58","81,133.62","74,754.14","78,249.77","82,149.61","75,969.47"

In [8]:
## Reset index
ghg_data = ghg_data.reset_index(drop=True)
ghg_data.head()

,Summary data collected by the Greenhouse Gas Reporting Program,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20
0,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
1,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
2,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
3,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
4,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"

In [9]:
## Rename the columns
ghg_data.rename(columns={'Summary data collected by the Greenhouse Gas Reporting Program':'facility_id',
                          'Unnamed: 1':'frs_id',
                          'Unnamed: 2':'facility_name',
                            'Unnamed: 3': 'city',
                            'Unnamed: 4':'state',
                            'Unnamed: 5': 'zip_code',
                            'Unnamed: 6': 'address',
                            'Unnamed: 7':'county',
                            'Unnamed: 8': 'latitude',
                            'Unnamed: 9': 'longitude',
                            'Unnamed: 10':'naics_code',
                            'Unnamed: 11':'industy_subparts',
                            'Unnamed: 12':'industry_sector',
                            'Unnamed: 13':'2018',
                            'Unnamed: 14':'2017',
                            'Unnamed: 15':'2016',
                            'Unnamed: 16':'2015',
                            'Unnamed: 17':'2014',
                            'Unnamed: 18':'2013',
                            'Unnamed: 19':'2012',
                            'Unnamed: 20':'2011'},
                 inplace=True)
ghg_data.head()

,facility_id,frs_id,facility_name,city,state,zip_code,address,county,latitude,longitude,...,industy_subparts,industry_sector,2018,2017,2016,2015,2014,2013,2012,2011
0,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
1,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
2,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
3,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
4,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"

In [12]:
## Group the data by state
##ghg_state = ghg_data.groupby(by='state')
##ghg_state_mean = ghg_state['2011', '2012', '2013', '2014,' '2015', '2016', '2017', '2018'].mean()
##ghg_state.head()

,facility_id,frs_id,facility_name,city,state,zip_code,address,county,latitude,longitude,...,industy_subparts,industry_sector,2018,2017,2016,2015,2014,2013,2012,2011
0,Facility Id,FRS Id,Facility Name,City,State,Zip Code,Address,County,Latitude,Longitude,...,Latest Reported Industry Type (subparts),Latest Reported Industry Type (sectors),2018 Total reported direct emissions,2017 Total reported direct emissions,2016 Total reported direct emissions,2015 Total reported direct emissions,2014 Total reported direct emissions,2013 Total reported direct emissions,2012 Total reported direct emissions,2011 Total reported direct emissions
1,1000001,110000490166,PSE Ferndale Generating Station,FERNDALE,WA,98248,5105 LAKE TERRELL ROAD,WHATCOM COUNTY,48.83,-122.69,...,D,Power Plants,"302,529.48","350,890.10","354,145.49","405,725.95","333,193.56","395,314.78","14,719.11","35,878.16"
2,1000002,110041175000,Ardagh Glass Inc. (Dunkirk),DUNKIRK,IN,47336,524 E. CENTER STREET,JAY COUNTY,40.37,-85.20,...,"C,N",Minerals,"110,511.71","115,937.54","114,530.00","114,583.80","114,959.65","103,822.92","111,294.55","109,863.60"
3,1000003,110001482887,Ardagh Glass Inc. (Henderson),Henderson,NC,27537,620 Facet Road,VANCE COUNTY,36.29,-78.39,...,"C,N",Minerals,"79,393.21","80,219.13","74,813.30","80,976.04","81,003.99","80,535.23","74,324.20","77,199.18"
4,1000004,110000833518,Ardagh Glass Inc. (Lincoln),LINCOLN,IL,62656,1200 NORTH LOGAN STREET,LOGAN COUNTY,40.16,-89.35,...,"C,N",Minerals,"55,547.75","57,894.49","54,780.85","59,954.74","57,837.10","59,600.50","60,086.00","52,494.61"
5,1000005,110000482022,Ardagh Glass Inc. (Madera),MADERA,CA,93637,24441 AVENUE 12 & ROAD 24 1/2,MADERA COUNTY,36.92,-120.10,...,"C,N",Minerals,"83,863.02","82,451.32","79,708.58","81,133.62","74,754.14","78,249.77","82,149.61","75,969.47"
6,1000006,110000834900,Ardagh Glass Inc. (Milford),MILFORD,MA,01757,1 NATIONAL STREET,WORCESTER,42.13,-71.51,...,"C,N",Minerals,"9,745.02","37,320.22","33,116.34","41,248.50","42,313.91","42,648.16","45,293.71","43,434.41"
7,1000007,110007014774,AMERICAN GYPSUM - BERNALILLO (WALLBOARD) PLANT,BERNALILLO,NM,87004,1000 N HILL RD,SANDOVAL,35.33,-106.53,...,C,Minerals,"10,859.36","4,145.68",0.00,0.00,0.00,0.00,0.00,0.00
8,1000010,110013945437,SANTA ROSA CENTRAL LANDFILL,MILTON,FL,32583,6337 DELISA RD.,SANTA ROSA COUNTY,30.58,-87.06,...,HH,Waste,"125,328.25","107,562.00","106,339.75","101,770.00","107,609.50","109,206.00","102,640.00","98,143.35"
9,1000015,110000492734,"TYSON FARMS, INC.",WILKESBORO,NC,28697,704 FACTORY STREET,WILKES COUNTY,36.14,-81.16,...,C,Other,"26,683.90","27,070.95","25,592.00","28,135.43","28,909.07","29,057.04","25,292.90","25,076.25"
10,1000016,110001478696,TYSON FARMS INCORPORATED HARMONY,HARMONY,NC,28634,501 SHEFFIELD ROAD,IREDELL COUNTY,35.95,-80.72,...,C,Other,"36,535.31","35,015.37","35,333.12","32,337.73","29,817.89","29,325.54","49,787.36","50,407.95"
11,1000017,110056953765,BASF CORPORATION,PALMYRA,MO,63461,3150 HWY JJ,MARION,39.83,-91.44,...,C,Chemicals,"133,144.95","143,256.11","134,156.71","152,882.80","162,938.45","166,771.51","141,965.69","142,755.15"
12,1000019,110000448579,WESTERN SUGAR COMPANY,SCOTTSBLUFF,NE,69361,2100 E. OVERLAND DR.,SCOTTS BLUFF COUNTY,41.86,-103.64,...,"C,S",Minerals,"262,881.31","265,042.08","68,054.65","266,784.01","239,156.50","207,224.18","260,765.67","240,467.31"
13,1000020,110000332275,Ardagh Glass Inc. (Port Allegany),PORT ALLEGANY,PA,16743,ONE GLASS PLACE,MCKEAN COUNTY,41.82,-78.29,...,"C,N",Minerals,"63,518.92","63,395.72","62,728.27","60,813.02","59,622.28","54,657.94","60,835.57","62,001.97"
14,1000021,110009576930,Ardagh Glass Inc. (Ruston),SIMSBORO,LA,71275,4241 HIGHWAY 563,LINCOLN PARISH,32.55,-92.76,...,"C,N",Minerals,"75,053.04","100,266.43","100,776.58","104,230.17","97,468.84","91,199.81","93,300.41","94,221.96"
15,1000022,110000619466,ISP TECHNOLOGIES TEXAS CITY PLANT,TEXAS CITY,TX,77590,4501 ATTWATER AVENUE,GALVESTON COUNTY,29.43,-95.00,...,C,Chemicals,"36,367.46","33,903.47","29,381.64","31,037.28","34,271.12","26,427.60","31,424.63","30,157.23"
16,1000023,110000454758,Ardagh Glass Inc. (Sapulpa),SAPULPA,OK,74066,1000 NORTH MISSION STREET,CREEK COUNTY,36.01,-96.10,...,"C,N",Minerals,"108,798.56","120,892.19","122,266.74","112,269.42","80,647.60","104,953.54","109,886.88","109,895.18"
17,1000024,110000489659,Ardagh Glass Inc. (Seattle),SEATTLE,WA,98134,5801 EAST MARGINAL WAY SOUTH,KING COUNTY,47.55,-122.34,...,"C,N",Minerals,"76,476.48","75,338.38","77,844.68","76,673.83","78,044.18","80,745.37","76,257.03","80,378.03"
18,1000025,110000449863,PLACID REFINING CO LLC - PORT ALLEN REFINERY,PORT ALLEN,LA,70767,"1940 LA HWY 1, NORTH",WEST BATON ROUGE PARISH,30.48,-91.21,...,"C,MM-REF,Y","Petroleum Product Suppliers,Refineries","625,737.71","605,016.29","633,155.36","599,676.21","480,185.72","538,949.38","564,142.97","600,969.36"
19,1000026,110000347802,Ardagh Glass Inc. (Wilson),WILSON,NC,27893,2201 FIRESTONE PARKWAY,WILSON COUNTY,35.76,-77.88,...,"C,N",Minerals,"76,618.29","42,771.89","87,476.87","96,148.18","90,845.31","94,459.06","95,875.44","97,386.79"
20,1000027,110001120144,The Children\s Hospital of Philadelphia,Philadelphia,PA,19104,34th Street and Civic Center Boulevard,PHILADELPHIA,39.95,-75.19,...,C,Other,"34,951.56","29,901.24","28,299.94","29,257.39","27,191.80","23,696.42","24,198.12","24,874.72"
21,1000028,110017984519,Ardagh Glass Inc. (Pevely),PEVELY,MO,63070,1500 Ardagh Group Drive,JEFFERSON COUNTY,38.30,-90.40,...,"C,N",Minerals,"83,670.24","83,284.44","82,243.90","79,073.35","65,943.08","84,023.03","87,130.93","82,242.09"
22,1000029,110015969941,NUCOR STEEL SEATTLE INC,SEATTLE,WA,98106,2424 SOUTHWEST ANDOVER STREET,KING,47.57,-122.37,...,"C,Q",Metals,"146,394.42","168,979.83","97,810.34","115,172.69","166,108.64","128,707.52","124,468.29","134,334.59"
23,1000031,110035777228,Northwest Regional Landfill,Surprise,AZ,85387,19401 W. Deer Valley Rd,MARICOPA COUNTY,33.68,-112.47,...,"C,HH",Waste,"101,475.56","91,643.26","71,019.12","91,106.88","50,977.07","76,786.86","54,824.05","49,031.65"
24,1000032,110030900997,KRATON POLYMERS U S LLC,BELPRE,OH,45714,2419 State Route 618,WASHINGTON COUNTY,39.28,-81.64,...,C,Other,"214,694.39","206,087.97","206,772.42","258,889.45","334,390.76","286,951.69","286,055.52","291,407.13"
25,1000033,110028036033,San Gabriel Cogeneration Facility,Pomona,CA,91768,1507 Mount Vernon Ave.,LOS ANGELES,34.06,-117.78,...,C,Power Plants,0.00,0.00,"1,685.94","53,784.95","55,070.59","56,025.44","65,686.25","62,422.56"
26,1000034,110067425799,ADM SOYBEAN PROCESSING - DES MOINES,DES MOINES,IA,50313,1935 EAST EUCLID AVENUE,POLK COUNTY,41.63,-93.58,...,C,Other,"155,623.27","145,234.28","150,870.24","144,115.25","141,702.51","133,350.86","142,430.78","147,019.71"
27,1000035,110037615694,ANDERSONS MARATHON ETHANOL LLC,GREENVILLE,OH,45331,5728 E SEBRING WARNER RD,DARKE,40.08,-84.59,...,"C,II,PP","Other,Suppliers of CO2,Waste","186,068.50","186,734.44","189,037.38","182,885.16","184,212.40","175,228.03","174,206.54","182,675.75"
28,1000036,110043974287,UNIVERSITY OF CINCINNATI,CINCINNATI,OH,45219,3000 Glendora Ave.,HAMILTON COUNTY,39.13,-84.51,...,C,Other,"160,482.24","156,734.41","139,109.01","106,533.91","101,058.12","138,443.17","181,760.88","166,855.33"
29,1000037,110018218720,TYSON FRESH MEATS INC,Hillsdale,IL,61257,28424 38th Avenue North,ROCK ISLAND COUNTY,41.55,-90.23,...,"C,II","Other,Waste","39,288.66","42,758.33","38,058.68","32,795.94","35,164.32","33,236.04","28,631.03","28,730.99"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1007,1001438,110010385528,MAUI ELECTRIC CO (MECO) - MAALAEA GENERATING S...,KIHEI,HI,96753,1000 NORTH KIHEI ROAD,MAUI COUNTY,20.80,-156.49,...,C,Power Plants,"465,238.52","476,767.14","477,687.97","490,195.22","462,575.57","492,336.68","521,854.86","548,479.35"
1029,1001477,110000338821,Edge Moor,WILMINGTON,DE,19809,200 HAY ROAD,New Castle,39.74,-75.50,...,"C,D",Power Plants,"223,265.44","154,348.86","523,830.80","352,054.47","543,041.53","247,050.82","659,652.50","440,552.02"
1030,1001478,110000603936,Indian River,DAGSBORO,DE,19939,29416 POWER PLANT ROAD,Sussex,38.59,-75.23,...,"C,D",Power Plants,"287,600.76","364,884.37","482,552.74","574,372.55","803,715.82","1,492,166.47","1,371,167.00","1,461,631.35"
1080,1001552,110070081795,HAWAII ELECTRIC LIGHT CO (HELCO) - KANOELEHUA ...,HILO,HI,96720,54 HALEKAUILA STREET,HAWAII COUNTY,19.70,-155.06,...,C,Power Plants,"162,935.36","175,179.81","230,658.08","180,353.38","171,960.16","172,480.20","173,365.74","193,041.28"
1083,1001557,110028014093,HAWAII ELECTRIC LIGHT CO (HELCO) - KEAHOLE GEN...,KAILUA KONA,HI,96740,73-4249 PUKIAWE ST.,HAWAII COUNTY,19.72,-156.03,...,C,Power Plants,"241,737.94","220,759.78","213,781.09","205,337.98","210,674.49","186,752.73","154,729.30","179,883.14"
1189,1001723,110033218881,REDFIELD ENERGY LLC,REDFIELD,SD,57469,38650 171ST ST,SPINK COUNTY,44.91,-98.50,...,C,Other,"73,291.82","74,406.32","74,439.52","73,885.87","70,006.44","76,259.61","73,382.87","71,618.73"
1219,1001810,110064086509,GOLDEN VALLEY ELECTRIC ASSOC NORTH POLE POWER ...,NORTH POLE,AK,99705,1150 H & H LN,FAIRBANKS NORTH STAR,64.74,-147.35,...,C,Power Plants,"250,883.46","318,505.96","280,695.22","222,352.26","195,204.80","226,849.40","369,996.51","297,118.21"
1298,1001922,110064319679,THE GEORGE WASHINGTON UNIVERSITY,WASHINGTON,DC,20052,2025 F ST NW,DISTRICT OF COLUMBIA,38.90,-77.05,...,C,Other,"35,386.68","33,595.38","27,369.36","21,341.63","20,294.67","22,540.37","23,458.57","26,087.76"
1865,1002803,110043796844,University of Vermont and State Agricultural C...,Burlington,VT,05405,284 East Avenue,CHITTENDEN COUNTY,44.47,-73.19,...,C,Other,"28,389.99","27,053.49","27,395.34","28,826.43","29,387.03","28,591.68","22,832.16","27,104.79"
2193,1003407,110064064408,UNISEA - DUTCH HARBOR,DUTCH HARBOR,AK,99692,88 SALMON WAY,ALEUTIANS WEST,53.88,-166.55,...,C,Other,"34,953.32","37,046.09","36,815.45","32,721.45","28,735.60","22,023.76","26,719.89","23,366.69"
2246,1003492,110021331664,HANK NIKKELS PLANT ONE,ANCHORAGE,AK,99501,821 EAST FIRST AVENUE,ANCHORAGE MUNICIPALITY,61.22,-149.87,...,C,Power Plants,"21,076.32","34,704.32","28,806.64","30,495.84","22,905.82","19,097.93","36,153.42","58,152.23"
2247,1003493,110007236981,GEORGE SULLIVAN PLANT TWO,ANCHORAGE,AK,99504,8700 Starview Drive,ANCHORAGE MUNICIPALITY,61.23,-149.71,...,C,Power Plants,"379,065.27","378,514.58","343,980.10","361,125.83","297,449.62","316,487.80","582,911.44","604,516.67"
2344,1003650,110000607950,PREPA Palo Seco Steam Power Plant,Toa Baja,PR,00949,PR-165 KM 30.8,TOA BAJA MUNICIPIO,18.46,-66.15,...,C,Power Plants,"968,949.59","588,473.51","1,429,520.77","1,039,141.13","1,043,840.34","1,764,521.04","2,465,722.23","2,496,507.77"
2355,1003670,110055089149,PETRO STAR INC NORTH POLE REFINERY,NORTH POLE,AK,99705,1200 H AND H LANE,FAIRBANKS NORTH STAR BOROUGH,64.73,-147.34,...,"C,MM-REF,Y","Petroleum Product Suppliers,Refineries","35,114.50","18,244.24","12,186.92","12,242.94","28,709.61",994.90,"13,208.49","23,106.33"
2388,1003726,110000314847,GLOBALFOUNDRIES U.S. 2 LLC - Vermont Facility,ESSEX JUNCTION,VT,05452,1000 RIVER STREET - B966,CHITTENDEN,44.48,-73.09,...,"C,I",Other,"259,732.28","263,469.96","276,944.31","298,114.34","289,772.69","304,246.76","368,280.47","408,981.05"
2703,1004320,110040547263,"Moretown Landfill, Inc.",Waterbury,VT,05676,19 Kaiser Drive,WASHINGTON COUNTY,44.31,-72.71,...,"C,HH",Waste,"2,460.15","5,581.10","7,202.45","10,986.45","13,047.40","28,954.15","42,274.30","40,202.90"
2782,1004469,110070081893,LILLY DEL CARIBE INC CAROLIN A,CAROLINA,PR,00987,430 Calle Fabril (formerly KM 12.6 65TH INFANT...,CAROLINA,18.35,-65.95,...,C,Chemicals,"24,944.13","24,884.63","27,050.74","22,933.96","23,489.61","24,766.89","24,612.54","24,287.60"
3138,1005072,110020514843,"AMGEN MANUFACTURING, LIMITED",JUNCOS,PR,00777,RD 31 KM 24.6,JUNCOS,18.24,-65.90,...,C,Chemicals,"25,065.30","28,148.59","28,167.74","31,530.74","28,997.18","28,273.75","27,348.26","28,911.13"
3180,1005158,110017614269,Arecibo Landfill,Arecibo,PR,00612,"Carr. PR-682 Interior, Sector Garrochales, Bo....",ARECIBO,18.47,-66.63,...,"C,HH",Waste,"90,217.30","85,718.80","72,313.84","68,951.19","77,081.09","68,072.80","43,511.95","939,594.55"
3182,1005161,110024438447,Guaynabo Landfill,Guaynabo,PR,00969,"Carr. PR-1, hacia Carr. PR-834, Sector La Muda",GUAYNABO MUNICIPIO,18.33,-66.10,...,"C,HH",Waste,"54,563.10","55,667.70","56,764.25","57,893.50","59,251.05","60,286.85","61,520.50","68,644.85"
3217,1005261,110006537051,NEWSVT LANDFILL,Coventry,VT,05855,21 Landfill Lane,ORLEANS COUNTY,44.91,-72.22,...,"C,HH",Waste,"62,630.25","52,625.55","57,840.00","81,776.30","74,973.00","71,189.35","79,413.55","84,038.40"
3440,1005679,110028896167,NAVAL RESEARCH LABORATORY,WASHINGTON,DC,20375,4555 OVERLOOK AVE. SW,DISTRICT OF COLUMBIA,38.82,-77.02,...,C,Other,"22,901.88","20,863.40","21,330.65","22,624.68","29,279.44","24,441.60","24,786.00","24,259.90"
3913,1006423,110007328490,WestRock Converting LLC - Missisquoi Mill,SHELDON SPRINGS,VT,05485,369 MILL STREET,FRANKLIN,44.91,-72.98,...,C,Pulp and Paper,"37,373.65","36,334.81","37,751.61","39,332.12","36,347.85","36,088.11","35,280.02","38,231.90"
3927,1006451,110000307864,"Limetree Bay Terminals, LLC",CHRISTIANSTED,VI,00820,1 ESTATE HOPE,ST. CROIX ISLAND,17.71,-64.75,...,"C,MM-IMP,Y","Petroleum Product Suppliers,Refineries","106,326.34","99,773.52","98,221.07","87,934.34","101,145.95","106,038.05","665,794.67","4,450,885.14"
4077,1006733,110002481314,CAPITOL POWER PLANT,WASHINGTON,DC,20003,25 E STREET SOUTHEAST,DISTRICT OF COLUMBIA,38.88,-77.01,...,C,Power Plants,"68,625.46","60,070.68","59,751.12","62,858.68","66,310.95","63,280.50","68,851.90","78,848.10"
4370,1007221,110007501499,GUAM POWER AUTHORITY - CABRAS POWER PLANT,PITI,GU,96915,322 CABRAS HIGHWAY,GUAM,13.39,144.71,...,C,Power Plants,"552,518.33","578,127.87","545,922.52","684,249.33","736,847.45","598,418.61","588,734.02","747,891.61"
4841,1007967,110000580960,VI WATER AND POWER AUTHORITY,ST THOMAS,VI,00804,KRUM BAY FACILITY,ST. THOMAS ISLAND,18.33,-64.96,...,C,Power Plants,"255,232.28","278,559.23","470,195.68","465,691.52","435,224.11","465,410.58","506,101.07","621,070.34"
4864,1008001,110000602866,"VI WATER AND POWER AUTHORITY, Richmond Plant",CHRISTIANSTED,VI,00820,1 Penitentiary Lane,ST. CROIX ISLAND,17.75,-64.71,...,C,Power Plants,"288,049.37","242,135.95","302,255.27","304,835.77","288,821.98","314,467.27","365,774.02","388,574.73"
5137,1010700,110043679597,Diageo USVI,Kingshill,VI,00850,#1 Estate Annaberg and Shannon Grove,ST. CROIX ISLAND,17.71,-64.78,...,"C,II","Other,Waste","26,510.10","33,883.38","38,375.15","33,241.45","40,608.32","32,671.49","42,119.65","31,881.04"
5167,1011451,110032613401,Marianas Energy Company,Piti,GU,96915,180 Cabras Highway,GUAM,13.46,144.68,...,C,Power Plants,"414,768.47","415,058.76","413,586.28","426,011.39","439,003.74","415,835.38","341,849.06","415,052.61"

In [ ]:
## Plot of emissions in 2018 by state
##plt.plot(ghg_state_mean["state"], ghg_state_mean["2018"])
##plt.show()

In [ ]:
## Plot of emissions in 2011 by state
##plt.plot(ghg_state_mean["state"], ghg_state_mean["2011"])
##plt.show()

In [ ]:
## Group the data by industry sector
##ghg_sector = ghg_data.groupby(by='industry_sector')
##ghg_sector_mean = ghg_sector['2011', '2012', '2013', '2014,' '2015', '2016', '2017', '2018'].mean()
##ghg_sector.head()

In [ ]:
## Plot of emissions by sector in 2018
##plt.plot(ghg_sector_mean["industry_sector"], ghg_sector_mean["2018"])
##plt.show()

In [ ]:
## Plot of emissions by sector in 2011
##plt.plot(ghg_sector_mean["industry_sector"], ghg_sector_mean["2011"])
##plt.show()

In [ ]:
## How do we plot each state's emission trends over the years?

In [13]:
## Load class survey data
class_data = pd.read_csv("global_climate_change_class_survey_responses.csv")
class_data.head()

,Unnamed: 0,Unnamed: 1,18,9,26,27,24,Unnamed: 7,Unnamed: 8,3,...,27.1,28,Unnamed: 71,0.1,2.2,4.2,7.2,58,32.1,Unnamed: 78
0,Timestamp,3. What academic year did you enroll in COMM 1...,2007-2008,2008-2009,2009-2010,2010-2011,2011-2012,4. What is/was your major?,5. When did you graduate from SJSU?,Spring 2008,...,Used a bicycle instead of a car as transportat...,The course didnâ€™t have an influence on my tran...,19. As a result of my participation in this co...,All the time,Often2,Sometimes3,Occasionally4,Never,The course had no influence on my purchase of ...,NaN
1,11/25/2015 13:43:47,2007-2008,1,0,0,0,0,Economics,Fall 2010,0,...,1,0,Never,0,0,0,0,1,0,NaN
2,11/25/2015 13:48:31,2010-2011,0,0,0,1,0,Business,After Fall 2012,0,...,0,1,The course had no influence on my purchase of ...,0,0,0,0,0,1,NaN
3,11/25/2015 13:54:36,2011-2012,0,0,0,0,1,Environmental Studies/ green building and ener...,After Fall 2012,0,...,1,0,The course had no influence on my purchase of ...,0,0,0,0,0,1,NaN
4,11/25/2015 14:09:40,2010-2011,0,0,0,1,0,Environmental Science,Fall 2011,0,...,0,0,The course had no influence on my purchase of ...,0,0,0,0,0,1,NaN

In [ ]:
##